{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": ["airbnb/base"],
    "rules": {
        "semi": "error",
        "no-console": "off",
        "no-plusplus": "off",
        "arrow-parens": "off",
        "linebreak-style": "off",
        "no-multiple-empty-lines": "warn",
        "object-curly-newline": "off",
        "eol-last": "off",
        "no-alert": "off",
        "no-param-reassign": "off"
    }
}